<div class="d-flex flex-wrap">
    <button class="btn btn-secondary btn.sm">WCAB</button>

    <button class="btn btn-secondary btn.sm">RMLLC</button>

    <button class="btn btn-secondary btn.sm">AC</button>

    <button class="btn btn-secondary btn.sm">B1600</button>
</div>

@code {

}
