<div class="d-grid">
    <button class="btn btn-sm btn-primary m-1" title="Ctrl+s or F12">Save</button>
    <button class="btn btn-sm btn-primary m-1" title="F5">Refresh</button>
    <button style="background-color:rgba(255,255,255,0.37)" class="btn btn-sm btn-primary m-1" title="Ctrl+o or F11">Open</button>
    <button style="background-color:rgba(255,255,255,0.37)" class="btn btn-sm btn-primary m-1" title="Ctrl+n">New</button>
    <button class="btn btn-sm btn-primary m-1" title="F6">Split</button>
    <button class="btn btn-sm btn-primary m-1" title="F8">Insert</button>
    <button class="btn btn-sm btn-primary m-1 custom-btn" title="Ctrl+v or Shft+Ins">Paste</button>
    <button class="btn btn-sm btn-primary m-1" title="Ctrl+c or Ctrl+Ins">Copy</button>
    <button style="background-color:rgba(255,255,255,0.37)" class="btn btn-sm btn-primary m-1" title="Ctrl+x or Shft+Del">Cut</button>
    <button style="background-color:rgba(255,255,255,0.37)" class="btn btn-sm btn-primary m-1" title="Delete">Delete</button>
    <button style="background-color:rgba(255,255,255,0.37)" class="btn btn-sm btn-primary m-1" title="Delete">Delete</button>
    <button style="background-color:rgba(255,255,255,0.37)" class="btn btn-sm btn-primary m-1" title="Delete">Delete</button>
    <button style="background-color:rgba(255,255,255,0.37)" class="btn btn-sm btn-primary m-1" title="Delete">Delete</button>
    <button style="background-color:rgba(255,255,255,0.37)" class="btn btn-sm btn-primary m-1" title="Delete">Delete</button>
    <button style="background-color:rgba(255,255,255,0.37)" class="btn btn-sm btn-primary m-1" title="Delete">Delete</button>
    <button style="background-color:rgba(255,255,255,0.37)" class="btn btn-sm btn-primary m-1" title="Delete">Delete</button>


</div>

@code {

}
